* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #000000e8;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    width: 0;
}

.box-h1-princ {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 50vh;

    background-image: url(../img/background-port.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: .75;

    overflow: hidden;
}

.box-first-h1 {
    display: flex;
    position: absolute;
    transform: translateY(44.5vh);
    justify-content: center;
    align-items: end;
    width: 100vw;
    height: max-content;
    background-color: #ffffff21;

    animation-name: left-slide-in;
    animation-duration: 1.5s;
}

.box-who-i-am {
    display: flex;
    position: absolute;
    transform: translateY(50vh);
    justify-content: center;
    align-items: start;
    width: 100vw;
    height: max-content;
    background-color: #ffffff09;

    animation-name: right-slide-in;
    animation-duration: 4.5s;
}

.first-h1 {
    color: #fff;
    font-weight: 100;
}

.who-i-am {
    color: #fff;
    font-weight: 300;
}

.box-bottom-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 48vh;
}

.box-bottom-content button {
    width: 230px;
    height: auto;

    background-color: transparent;
    outline: 0;
    border: 1px solid #ffffffa5;
    padding: 5px;
    border-radius: 500px;
    font-size: 35px;
    font-weight: 100;
    color: #fff;
    cursor: pointer;

    animation-name: fade-in;
    animation-duration: 5s;

    transition: .35s;
}

.box-bottom-content button:hover {
    background-color: #fff;
    box-shadow: 0px 0px 15px 0px #fff;
    color: #000;

    transition: .35s;
}

#hard-skills {
    display: none;
    text-align: center;
    text-shadow: 4px 0px 1px rgb(255, 166, 0);
    font-size: 50px;



    color: #fff;
}

.container {
    width: 100vw;
    height: 70vh;
    padding: 10px;
    display: none;
    grid-template-areas: "1 2 3";
    align-items: center;
    justify-content: space-evenly;
    color: #fff;
}


.card-content {
    width: 500px;
    height: 20vh;
    background-color: rgb(255, 166, 0);
    border-radius: 15px;

    box-shadow: 5px 10px 20px 0px orange,
    50px 10px 100px 0px red;

    padding: 25px;
    font-size: 25px;
    font-weight: lighter;
    text-shadow: 2px 0px 2px #fff;
}












@keyframes top-slide-out {

    to {
        transform: translateY(-102vh)
    }
}



@keyframes left-slide-in {
    0% {
        transform: translate(-105vw, 44.5vh)
    }
    100% {
        transform: translate(0vw, 44.5vh)
    }
}


@keyframes left-slide-out {
    0% {
        transform: translate(0vw, 44.5vh)
    }
    100% {
        transform: translate(-105vw, 44.5vh)
    }
}



@keyframes right-slide-in {
    0% {
        transform: translate(105vw, 50vh)
    }
    100% {
        transform: translate(0, 50vh);
    }
}


@keyframes right-slide-out {
    0% {
        transform: translate(0, 50vh);
    }
    100% {
        transform: translate(105vw, 50vh)
    }
}



@keyframes fade-in {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}